.container {
    border: solid 1px #cfcfcf;
    border-radius: 6px;
    display: flex;
    background: #f004;
    flex-direction: column;
    margin: 8px 0;
}

.top {
    display: flex;
    padding: 10px;
}

.id {
    flex: 1;
    font-weight: 600;
}

.date {
    flex: 1;
    font-weight: 600;
    text-align: right;
}

.comment {
    display: block;
    padding: 10px 0;
    text-align: center;
}