.form {
  border: solid 1px #a1a1a1;
  padding: 20px;
  border-radius:7px;
}

.form input,
.form textarea { padding: 4px 12px; }

.form button {
  padding: 4px 12px;
  border: solid 1px #222;
  border-radius: 4px;
  margin: 10px;
}
