.form {
  padding: 20px 5px;
  border-radius:7px;
  margin-bottom: 15px;
}

.form input,
.form textarea {
  padding: 4px 12px;
  margin: 4px 0;
}

.form textarea {
  width: 100%;
  resize: none;
  height: 200px;
}

.form button {
  padding: 4px 12px;
  border: solid 1px #222;
  border-radius: 4px;
  margin: 10px;
}
